.about {
  color: white;
}

/* LONG BIO */

.longBio {
  display: flex;
  justify-content: space-between;
}

.longBioDiv {
  margin-top: 10vh;
}

.longProfileImageDiv {
  padding-right: 5%;
}

.longGreeting {
  margin-bottom: 6%;
  color: #ff5722;
  margin-left: 2.5%;
  font-family: "Merriweather Sans", sans-serif;
}

.longProfileImageDiv img {
  width: 400%;
  max-width: 400px;
  height: auto;
  margin: 0 10%;
}

.longIntro {
  margin-top: 5vh;
  max-width: 500px;
  padding-left: 2.5%;
  font-size: 1.2rem;
  font-family: "Source Sans Pro", sans-serif;
}
.education {
  margin-bottom: 6%;
  margin-top: 6%;
  color: #a5e9e1;
  font-family: "Merriweather Sans", sans-serif;
}
.collegeAndBatch {
  margin-bottom: 1%;
  color: #388186;
  font-family: "Merriweather Sans", sans-serif;
}
.college {
  font-size: 1.2rem;
  margin-bottom: 3%;
}
.batch {
  font-size: 1.2rem;
  margin-bottom: 5%;
}

/* ACHIEVEMENTS */

.achievements {
  margin-top: 5%;
  display: flex;
  margin-bottom: 5%;
}

.achievementsHead {
  color: #a5e9e1;
  margin-left: 3.5%;
  font-family: "Merriweather Sans", sans-serif;
}

.achievements ul {
  margin-left: 2%;
}

.achievements li {
  margin-bottom: 1%;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
}

li a {
  color: #a5e9e1;
  font-weight: bold;
  text-decoration: underline;
}

/* CODING PROFILES */

.codingProfiles {
  padding-left: 3.6%;
}

.codingProfiles a {
  font-weight: bolder;
}

.codingProfilesHead {
  color: #a5e9e1;
  font-family: "Merriweather Sans", sans-serif;
}

.profiles {
  display: flex;
  justify-content: space-between;
}

.codingProfiles div {
  display: flex;
}

.resume h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
}

@media screen and (max-width: 696px) {
  /* LONG BIO */

  .longBio {
    flex-direction: column-reverse;
    margin-top: 15%;
  }
  .longGreeting {
    text-align: center;
  }
  .longBio p {
    font-size: 1.1rem;
  }
  .longBioDiv {
    margin-top: 7vh;
  }
  .longIntro {
    font-size: 1rem;
  }
  .longProfileImageDiv img {
    width: 80%;
  }
  .collegeAndBatch {
    width: 100%;
  }
  .college {
    font-size: 0.9rem;
  }
  .batch {
    font-size: 0.8rem;
    margin-bottom: 10%;
  }
  /* ACHIEVEMENTS */
  .achievements {
    display: flex;
    flex-direction: column;
  }
  .achievements li {
    font-size: 1rem;
  }

  /* CODING PROFILES */
  .codingProfiles {
    margin-top: 10%;
  }
  .codingProfiles h5 {
    font-size: 0.9rem;
  }
  .resume {
    margin-bottom: 5%;
  }
}
