.contactHead {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  color: #ff5722;
}

.contactDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: white;
}

.social div {
  display: flex;
}

.social h4 {
  margin-bottom: 10%;
}

.emailDiv {
  padding-left: 5%;
}

.eMailId{
  color: #a5e9e1;
}

@media screen and (max-width: 696px) {
  .contactHead {
    height: 20vh;
    margin-bottom: 10%;
  }
  .contactInfo {
    margin-bottom: 9%;
  }
}
