.contactHead {
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 30vh;
  color: #ff5722;
  margin-left: 6%;
}

.contactHead h1 {
  font-size: 3rem;
}

.contactDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: white;
}

.social div {
  display: flex;
}

.social h4 {
  margin-bottom: 10%;
}

.emailDiv {
  padding-left: 5%;
}

.eMailId {
  color: #a5e9e1;
}

@media screen and (max-width: 696px) {
  .contactHead {
    height: 20vh;
    margin-bottom: 7%;
    margin-left: 4%;
  }
  .contactHead h1 {
    font-size: 2rem;
  }
  .contactInfo {
    margin-bottom: 9%;
  }
  .contactInfo h5{
    font-size: 1rem;
  }
}
