/* DESKTOP SCREEN */

/* SHORT BIO */

.bio {
  display: flex;
  justify-content: space-between;
}

.bioDiv {
  margin-top: 10vh;
  color: white;
}

.profileImageDiv {
  padding-right: 5%;
}

.greeting {
  margin-bottom: 6%;
  margin-left: 2.3%;
  font-family: "Merriweather Sans", sans-serif;
}

.greeting span {
  color: #ff5722;
}

.profileImageDiv img {
  width: 90%;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  margin: 0 10%;
}

.briefIntro {
  margin-top: 5vh;
  max-width: 500px;
  padding-top: 5%;
  padding-left: 2.5%;
  font-size: 1.3rem;
  font-family: "Source Sans Pro", sans-serif;
}

/* PROJECTS */

.projectsHead {
  color: #ff5722;
  margin: 10vh 0 12vh 2.3%;
  font-family: "Merriweather Sans", sans-serif;
}

.projectWrapperDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.project {
  padding: 0;
  width: 30rem;
  /* border: none; */
}

.projectTitle {
  color: #ff5722;
  font-family: "Merriweather Sans", sans-serif;
}

.projectBody {
  background-color: black;
  color: white;
}

.card-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.projectImages {
  height: 40vh;
}

.techUsedHead {
  color: #a5e9e1;
  margin-top: 8%;
  font-family: "Merriweather Sans", sans-serif;
}

.techUsed {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.techUsed span {
  border: 2px solid white;
  margin: 1.2vmin 1vmin 0 0;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  display: inline-block;
  font-size: small;
}

.projectButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.projectButtons a {
  background-color: #388186;
  border: 1px solid #a5e9e1;
}

.glow-on-hover {
  /* width: 220px; */
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  padding-top: 2.5%;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* EXPERIENCE */

.experience {
  color: white;
  margin-left: 7%;
}

.experienceHead {
  text-align: left;
  margin: 0% 0 3% 0;
  color: #ff5722;
  font-family: "Merriweather Sans", sans-serif;
}
.company {
  color: #a5e9e1;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}
.roleAndDuration {
  display: flex;
  justify-content: space-between;
  width: 55%;
  margin-bottom: 1%;
  color: #388186;
  font-family: "Merriweather Sans", sans-serif;
}
.position {
  font-size: 1.3rem;
}
.duration {
  font-size: 1.2rem;
}

.experience li {
  font-size: 1.3rem;
  margin-bottom: 1%;
  font-family: "Source Sans Pro", sans-serif;
}

/* SKILLS */

.skills {
  color: white;
  margin: 3% 0 5% 7%;
}

.skillsHead {
  margin: 5.5% 0 1% 0;
  color: #ff5722;
  font-family: "Merriweather Sans", sans-serif;
}

.skillItems {
  display: flex;
  justify-content: space-between;
}

.skillSubHeads h4 {
  margin: 6% 0 4% 0;
  color: #a5e9e1;
  font-family: "Source Sans Pro", sans-serif;
}

.skillItems label {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
}

.skillSubDivs {
  margin-bottom: 10%;
}

/* MOBILE SCREEN */

@media screen and (max-width: 696px) {
  /* SHORT BIO */
  .greeting {
    text-align: center;
    margin-left: 0;
  }
  .bio {
    flex-direction: column-reverse;
    margin-top: 15%;
  }
  .bioDiv {
    margin-top: 7vh;
  }
  .briefIntro {
    font-size: 1rem;
  }
  .profileImageDiv img {
    width: 80%;
  }
  /* PROJECTS */

  .allProjects {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  .project {
    margin-bottom: 15%;
  }
  .projectsHead {
    margin: 7vh auto;
  }

  .projectWrapperDiv {
    margin-bottom: 10%;
  }
  .techUsed {
    display: flex;
  }
  .techUsed span {
    margin: 1.2vmin 0.5vmin 0 0;
    padding: 0.2rem 0.4rem;
  }
  .projectButtons a {
    width: 46%;
  }

  .glow-on-hover {
    padding: 4.5%;
  }

  /* EXPERIENCE */
  .experience {
    margin-left: 0;
  }
  .experienceHead {
    margin: 7% 0 12% 0;
  }
  .roleAndDuration {
    width: 100%;
  }
  .position {
    font-size: 0.9rem;
  }
  .duration {
    font-size: 0.8rem;
  }
  .experience li {
    font-size: 1rem;
    margin-bottom: 5%;
  }

  /* SKILLS */

  .skills {
    margin: 13% 0 15% 0;
  }
  .skillsHead {
    margin: 22% 0 10% 0;
  }
  .skillSubHeads h4 {
    margin: 18% 0 10% 0;
  }
  .skillItems label {
    font-size: 1rem;
  }
}